<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<dict>
			<key>UIColorNameType</key>
			<string>Developer</string>
			<key>UIRedComponent</key>
			<string>0.015</string>
			<key>UIGreenComponent</key>
			<string>0.016</string>
			<key>UIBlueComponent</key>
			<string>0.020</string>
			<key>UIAlphaComponent</key>
			<string>1.0</string>
		</dict>
	</dict>
</dict>
</plist>
